@import "variables";
@import "base";

@import "bootstrap/scss/bootstrap";

.intro {
  height: 600px !important;
  background: url("/assets/img/christina-wocintechchat-com-KAULAzQwxzE-unsplash.jpg")
    center / cover;
}

.services-bg-img {
  background: linear-gradient(rgba(255, 0, 31, 0.48), rgba(0, 123, 255, 0.2)),
    url("/assets/img/christina-wocintechchat-com-rg1y72eKw6o-unsplash.jpg")
      center / cover;
  height: 500px;
}

.avatar {
  object-fit: contain;
}

.bg-intro {
  background: rgba(249, 42, 42, 0.88) !important;
}

.about-overlay {
  position: absolute;
  bottom: -50px;
  width: 400px;
  left: -80px;
}

@media (max-width: 560px) {
  .about-overlay {
    left: -10px;
    bottom: -80px;
    width: 300px;
  }
}

.btn,
input.form-control, textarea {
  border-radius: 0;
}

.btn-primary {
  color: #fff;
}

.breadcrumb-bg-img {
  background: linear-gradient(rgba(255, 0, 31, 0.48), rgba(0, 123, 255, 0.2)),
    url("/assets/img/banner.jpg") center / cover;
}
